{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'hr/images/logo.jpg' %}"
      type="image/x-icon"
    />
    <title>Dudhat Industries</title>
    <link rel="stylesheet" href="{% static 'hr/css/viewprofile.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- header start -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #73a9c2"
    >
      <!--  logo -->
      <div class="container-fluid">
        <a class="navbar-brand" href="/hr/">
          <img id="logo" src="{% static 'hr/images/logo.jpg' %}" />
          <!-- Image added along with css -->
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Welcome {{name}}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- header closed -->

    <!-- back button -->
    <div align="center" style="margin-top: 10%; border: 0px solid black">
      <a href="/hr/"
        ><button class="btn btn-danger">
          <span
            ><img
              style="height: 20px; width: 20px"
              src="{% static 'hr/images/goback.png'%}"
          /></span>
          &nbsp;Back
        </button>
      </a>
    </div>
    <!-- back button closed -->

    <!-- Footer start -->
    <footer
      class="text-center text-white"
      style="
        width: 82%;
        background-color: gray;
        margin-left: 9%;
        margin-right: 10%;
        margin-top: 5%;
      "
    >
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © {{year}} Copyright:
        <a class="text-white" href="http://www.dudhatindustries.com/"
          >dudhatindustries.com</a
        >
      </div>
    </footer>
    <!-- Footer End -->
  </body>
</html>
